html{
    height: 0px;
    width: 100%;
}
body{
    margin: 0px;
}

.top{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    margin: -8px;
    width: 100%;
    height: 150px;
    border-right:15px black solid ;
    margin-right: -4px;
    
   
    
}
.top>.logo img{
    width: 250px;
    height: 50px;
    padding-top: 40px;
    
}
.top>.important{
    width: 650px;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    font-weight: 900;
}

.important h1{
    transition:  all 1s;
}
.top> .explore{
    padding-top: 10px;
}

.top>.important > .spark-arrow>.arrow{
    padding-top:35px;
    padding-left: 20px;
}
.top>.important>.spark-arrow{
    display: flex;
    justify-content: space-between;
    width: 100px;
    opacity: 0.5;
    font-weight: 250;
}
.top>.create-button{
    width: 100px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.top>.login-btn{
    padding-top: 40px;
}
.top>.signup-btn{
    padding-top: 40px;
}
.top> .important>.e-p>.explore{
    color:gold;
    font-size: .95rem;
    height: 10px;
    padding-top: 10px;
    margin: 0px;
    letter-spacing: 2px;
}
.top> .important>.e-p{
    display: flex;
    flex-direction: column;
    justify-content: important;
    height: 100px;
}
.top> .important>.e-p>.pen{
    padding-bottom: 40px;
    margin:0px
    
}
button{
    background-color: #4b4a4a;
    border-radius: 5px;
    font-size: 1.3rem;
    color: white;
    height: 75px;
    width: 100px;
    transition: .3s;

}
.create button{
    width: 125px;
}
.create button i{
    color:mediumspringgreen;
}
button:active{
 background-color: rgb(25,26,29);
}
.top>.search-btn i{
    font-size: 3rem;
    margin: 0px;
    color: #4b4a4a;
    padding-top: 10px;
    transition: 1s;
}

.search-btn i:hover{
color: white;
font-size: 3.5em;
}
.top>.search-btn{
    padding-top: 40px;
}
button:hover{
    letter-spacing: 1px;
}

.important h1:hover{
    letter-spacing: 2px;
}