.middle-stuff{
    background-image: linear-gradient(to bottom right, gray, rgb(25,26,29) , rgb(25,26,29));
    margin: 0px;
    width:100%;
    height: 100%;
    height: 1175px;
    margin-right: -5px;
    color: white;
    margin-left: -5px;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    border-left: 20px rgb(41, 41, 41) solid;
    
}
.middle-stuff>.stufff>.text{
    padding: 150px;
    padding-top: 50px;
}

.middle-stuff>.stufff>.text>.buttons> .sign button{
    color: black;
    background-color: rgb(0, 255, 106);
    border: 1px rgb(0, 255, 106) solid;
    width: 225px;
    font-size: 1.5rem;
}
.middle-stuff> .stufff>.text> .buttons>.learn button{
    background-color: black;
    color: white;
    width: 225px;
    transition: .3s;
    padding-right: 20px;
    font-size: 1.5rem;
}
.middle-stuff>.stufff>.text> .buttons>.learn button:active{
    box-shadow: inset 5px 5px 30px rgba(126, 125, 125, 0.4);
}

.middle-stuff>.stufff{
    display: flex;
    justify-content: space-between;
}
#blue{
    color: rgb(0, 195, 255);
}


.image-text>.image img{
    width: 550px;
}
.buttons{
    display: flex;
    
}
.labels{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}
.labels span{
    font-size: 2rem;
}
.labels>.teams{
    background-color: rgba(169, 169, 169, 0.178);
    border: 2px solid gray;
    width: 850px;
    text-align: important;
}
.labels>.education{
    background-color: rgba(169, 169, 169, 0.178);
    border: 2px solid gray;
    width: 850px;
    text-align: important;
    
}
.labels>.privacy{
    background-color: rgba(169, 169, 169, 0.178);
    border: 2px solid gray;
    width: 850px;
    text-align: important;
    
}
.labels>.writing{
    background-color: rgba(169, 169, 169, 0.178);
    border: 2px solid gray;
    width: 850px;
    text-align: important;
    
}